@page
@model RIEG.Compras.Caderno.Pages.Priorities.IndexModel

@{
    ViewData["Title"] = "Prioridades";
}

<h1>Prioridades</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-info"><i class="fas fa-plus"></i> Criar nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descricao
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Priority) {
        <tr>
            <td style="background-color: @Html.DisplayFor(modelItem => item.Color);">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-warning btn-sm">
                    <i class="fas fa-edit"></i> Editar
                </a>
                <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-info btn-sm">
                    <i class="fas fa-info"></i> Detalhes
                </a>
                <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Deletar
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
