@page
@model IndexModel
@{
    ViewData["Title"] = "Caderno de compras";
}

<div class="text-center">
    <h1 class="display-4">Organize sua lista de compras</h1>
    <p>
        Caderno de listagem de produtos a serem comprados
    </p>
</div>

<div class="text-center">
    <button type="button" class="btn btn-success">
        Baixa <span class="badge badge-light">
            @Model.QtdBaixas
        </span>
    </button>
    <button type="button" class="btn btn-warning">
        Media <span class="badge badge-light">
            @Model.QtdMedias
        </span>
    </button>
    <button type="button" class="btn btn-danger">
        Alta <span class="badge badge-light">
            @Model.QtdAltas
        </span>
    </button>
</div>
<br>
<div class="text-center">
    <button type="button" class="btn btn-primary">
        Padaria <span class="badge badge-light">
            @Model.QtdPadaria
        </span>
    </button>
    <button type="button" class="btn btn-primary">
        Mercearia <span class="badge badge-light">
            @Model.QtdMercearia
        </span>
    </button>
    <button type="button" class="btn btn-primary">
        Açougue <span class="badge badge-light">
            @Model.QtdAcougue
        </span>
    </button>
    <button type="button" class="btn btn-primary">
        FLV <span class="badge badge-light">
            @Model.QtdFLV
        </span>
    </button>
</div>