@page
@model RIEG.Compras.Caderno.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-page="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Marca
            </th>
            <th>
                Descricao
            </th>
            <th>
                Estoque
            </th>
            <th>
                Prioridade
            </th>
            <th>
                Data inclusao
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr style="background-color: @Html.DisplayFor(modelItem => Model.Categories.FirstOrDefault(x => x.ID == item.CategoryId).Color);">
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td style="background-color: @Html.DisplayFor(modelItem => Model.Priorities.FirstOrDefault(x => x.ID == item.PriorityId).Color);">
                @Html.DisplayFor(modelItem => Model.Priorities.FirstOrDefault(x => x.ID == item.PriorityId).Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
